<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h2>{{image.title}}</h2>
    <button type="button" class="btn btn-outline-danger" id="btn-delete" data-id="{{image.uniqueId}}">
      <i class="fa fa-times"></i>
      Delete
    </button>
  </div>
  <div class="card-body">
    <p>{{image.description}}</p>
    <div class="text-center">
      <img
        src="/public/upload/{{image.filename}}"
        alt="{{image.title}}"
        class="img-fluid"
      />
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between align-items-center">
    <div class="d-flex">
        <!-- Botones al lado izquierdo -->
        <button class="btn btn-outline-success me-2" id="btn-like" data-id="{{image.filename}}">
            <i class="fas fa-thumbs-up"></i>
            Like
        </button>
        <button class="btn btn-outline-info me-2" id="btn-donate" data-id="{{image.filename}}">
            <i class="fa fa-credit-card"></i>
            Donar
        </button>
    </div>
    
    <!-- Elementos al lado derecho -->
    <div class="d-flex">
        <p class="me-3">
            <span class="likes-count">{{image.likes}}</span>
            <i class="fas fa-heart"></i>
        </p>
        <p class="me-3">
            <span class="donate-count">{{image.donations}}</span>
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
        </p>
        <p class="me-3">
            <i class="fas fa-eye"></i>
            {{image.views}}
        </p>
        <p>
            <i class="far fa-clock"></i>
            {{timeago image.timestamp}}
        </p>
    </div>
  </div>
  <div class="card-body">
    <blockquote id="post-donation">
    <form action="/images/{{image.uniqueId}}/donate" method="POST" class="row">
        <div class="col-md-6 mb-3">
            <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="Nombre"
            />
        </div>
        <div class="col-md-6 mb-3">
            <input
                type="number"
                class="form-control"
                id="donation"
                name="donation"
                rows="2"
                placeholder="¿Cuánto deseas donar :D? (PEN)"
            ></input>
        </div>
        <div class="col-md-12 mb-3">
            <input
                type="text"
                class="form-control"
                id="email"
                name="email"
                placeholder="E-mail"
            />
        </div>
        <div class="col-md-12 mb-3 ml-auto">
            <button class="btn btn-outline-primary" id="btn-donations">
                <i class="fa fa-comment"></i>
                Enviar Donativo
            </button>
        </div>
    </form>
</blockquote>
    </div>
</div>

<div class="card mt-2">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3>Comentarios</h3>
    <button class="btn btn-outline-primary" id="btn-toggle-comment">
      <i class="fa fa-comment-o"></i>
      Publicar Comentarios
    </button>
  </div>
  <div class="card-body">
    <blockquote id="post-comment">
      <form action="/images/{{image.uniqueId}}/comment" method="POST">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Name"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            placeholder="Email"
          />
        </div>
        <div class="mb-3">
          <textarea
            class="form-control"
            id="comment"
            name="comment"
            rows="2"
            placeholder="Enter your comment"
          ></textarea>
        </div>
        <div class="mb-3">
          <button class="btn btn-success" id="btn-comment">
            <i class="fa fa-comment"></i>
            Post
          </button>
        </div>
      </form>
    </blockquote>
    <ul class="list-group p-4">
      {{#each comments}}
        <li class="list-group-item">
          <div class="row">
            <a href="#" class="col text-center">
              <img
                src="http://gravatar.com/avatar/{{gravatar}}?d=monsterid&s=45"
                alt=""
              />
            </a>
            <blockquote class="col">
              <p class="lead">{{comment}}<br /></p>
              <footer class="blockquote-footer">
                {{name}}-{{timeago timestamp}}
              </footer>
            </blockquote>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>